:root {
    /* --color-primary:#90b9ab; */
    --color-primary: rgb(255, 201, 113);
    --color-primary: rgb(150, 175, 197);
    /* 小捲尾 次色 */
    --color-primary: #e4b0b4;
    --color-primary: #90b9ab;

}

body {
    margin: 0;
    left: 0;
    /* width: 100vw; */
    /* position: relative; */

    /* background: url(./img/資產-50.png) no-repeat ; */
    /* background-color: black; */

    font-family: "LXGW WenKai TC", cursive;
    font-weight: 300;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    /* height: 60px; */
    /* line-height: 60px; */
    /* background-color:  rgb(28, 151, 167); */
    box-shadow: 0 3px 5px #ddd;
    align-items: center;
    /* position: sticky; */
    position: fixed;
    z-index: 1;
    background-color: #fff;
    line-height: 50px;
}

.logo {
    max-height: 80px;


}

a {
    text-decoration: none;
    color: rgb(28, 151, 167);
    color: #90b9ab;
    color: #2d6184;
    color: #f5ca7c;
    color: #888;
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 1.2rem;

}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a:hover {
    color: #1c97a7;
    font-weight: bold;
    /* color: red; */
}

h2 {
    margin: 50px 0;
    font-weight: bold;
    color: rgb(28, 151, 167);
    color: #8897a8;
    color: var(--color-primary);
}

h4 {
    margin: 20px;
}

.nav>li>a {
    padding: 10px;
    /* font-weight: bold; */
}

.nav>li>a:hover {
    border-bottom: 2px solid #1c97a7;
    border-bottom: 2px solid var(--color-primary);
}

.nav_icon {
    /* position: ; */
}

.nav_icon {
    position: static;
    right: 0;
    top: 0;
    font-size: 1.2rem;

}

.nav_icon a {
    padding: 5px;
}

.carousel {
    width: 100%;
}

.service_item a {
    /* width: 250px; */
    /* height: 250px; */
    /* border: 1px solid #ffc965; */
    display: block;
    font-weight: bold;
    /* background-color: #fff; */
    /* color: #ffc965; */
    /* border-radius: 50%; */
    /* 狗顏色 */
    /* box-shadow: 4px 12px  #ffc971; */
    /* position: relative; */
    /* 255, 201, 113 */
}

.service_item img,
.service_item p {
    transition: 1s;
    /* width: 50%; */

}

.service_item a:hover img {
    transform: scale(0.95);
    filter: grayscale(0.3) brightness(0.9);
}

.service_item a:hover p {
    transform: translateY(-100%) scale(1.5);
    color: #fff;
    text-shadow: 0px 0px 3px #91711a,
        0px 0px 6px rgb(211, 175, 58),
        0px 0px 10px rgb(255, 196, 0),
        0px 0px 15px rgb(143, 141, 59);
    /* background-color: rgba(148, 148, 148, 0.466); */
}

.service_item a:hover ::after {}

.service_item+p {
    color: #842d2d;
    /* content: ""; */
    /* width: 250px; */
    /* height: 250px; */
    /* border-radius: 50%; */
    /* z-index: -1; */
    /* background-color: #ffc965; */
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */

}

.about_us p {
    padding-bottom: 10px;
    margin: 0;
}

.store_img {
    width: 100%;
    height: 50%;
    padding-bottom: 75%;

    overflow: hidden;
    position: relative;
}

.store_img img {
    /* object-fit: contain; */
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* right: 0; */
    /* bottom: 0; */
}

.store_img~p {
    margin: 10px 0;

}

/* 按鈕顏色 */
.reserve_btn,
footer {
    /* background: #90b9ab; */
    /* background-color: var(--color-primary); */
    /* background-color:  rgb(187, 139, 143); */
    /* background-color: rgb(150, 175, 197); */
    /* background-color: rgb(187,187,187); */
    background-color: #90b9ab;
    color: #fff;

}

.reserve_btn:hover {
    /* outline: #90b9ab; */
    color: var(--color-primary);

}

.row {
    margin: 0;
    /* flex-wrap: wrap; */
}

footer {
    margin-top: 100px;
    position: relative;
    background: url(./img/index/資產-40.png) no-repeat left bottom/550px;
    background-color: var(--color-primary);
    overflow: hidden;
    padding: 4rem 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.footer_inner {
    /* 刪類別 */
    /* background: url(./img/資產-40.png) no-repeat left bottom/50%; */
    /* transform: rotate(90deg); */
    /* width: 100% */
    /* backdrop-filter: opacity(.5); */
    /* width: 100%; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */

}

.footer_contact {
    padding: 0 12px;
}

.footer_contact li {
    padding: 5px 0;
}

.footer_nav_icon {
    padding: 10px;
    font-size: 1.6rem;
}

footer a,
footer i {
    color: #fff;
}


.copyright,
.copyright a {
    font-size: .8rem;
}

.bi-instagram,
.bi-line,
.bi-facebook {
    border-radius: 100%;
    padding: 5px;
    /* border: 2px solid #fff; */
}

footer .footer_img {
    width: 335px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    filter: brightness(0.1) invert();
    transform: rotate(-15deg);

    /* transform: rotate(-30deg); */
}

footer .nav_icon span:hover i {
    /* color:  #1c97a7; */
    /* border: 2px solid #1c97a7; */

}

footer .logo {
    /* width: 100%; */
    max-height: 80%;

}

/* .contact_us{
    position: relative;
} */

/* @media (max-width: 991.98px) {
    .nav{
        position: relative;
    }
    .nav_icon{
        position: absolute;
        right: 0;
        top: 0;
    }
} */
@media (max-width: 992px) {
    .nav_icon {
        position: fixed;
        right: 0;
        top: 0;
        font-size: 1.3rem;
    }

    footer {
        background: url(./img/資產-40.png) no-repeat center bottom/400px;
        background-color: var(--color-primary);


    }

    footer .footer_img {
        display: none;

    }
}

@media (max-width: 768px) {
    footer .img-fluid {

        max-width: 80%;
    }
}

/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* index back 新增 */
/* index back 新增 */
/* index back 新增 */
/* index back 新增 */
/* index back 新增 */

body {
    background: url(../img/00_index/geometry.png);
}

main {
    top: 80px;
    position: relative;
}

.loginbox {
    width: 400px;
    height: 270px;
    /* background-color:#b0e7d4; */
    background-color: wheat;
    /* background-color:rgb(255, 201, 113); */
    top: 130px;
}

.loginbtn {
    background-color: #f5ca7c;
}

.loginbtn:hover {
    cursor: pointer;
    background-color: #fdc254;
}