:root{
    --color-primary:#90b9ab;
    --color-secondary:#e4b0b4 ;
    /* 狗狗顏色 */
    --color-tertiary:#ffc971 ; 
}
body{
    background: url(../img/00_index/geometry.png);
    font-size: 1.2rem;
}
h2{
    /* height: 80px; */
    /* border: 1px solid #000; */
    color: #000;
}
.table>:not(caption)>*>* {
    padding: 1rem ;
}
input{
    width: 60%;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    /* --bs-table-accent-bg: #ffc970 ; */
    /* --bs-table-accent-bg: #bfe0d5; */
    /* --bs-table-accent-bg: var(--color-secondary); */
    /* --bs-table-accent-bg:#f1c6ca; */
    --bs-table-accent-bg:#cbe9dd;
}

input[type="file"]::file-selector-button,#insertBtn,#updateBtn{
    /* display: inline-block; */
    background-color:var(--color-primary);
    /* background-color:#7d9b92; */
    /* background-color:red; */
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 2px 2px 3px #569682;
    font-weight: normal;
    letter-spacing: 1.5px;
    /* font-family: none; */
    /* font-family: "Playfair Display", serif; */
    font-size: 1rem;
    transition: .2s;

}
input[type="file"]::file-selector-button:hover ,#insertBtn:hover,#updateBtn:hover{
    /* background-color:#fff; */
    background-color:#a2c5ba;
    /* color: var(--color-primary); */
    color: #ffffff;
    /* border: 1px solid var(--color-tertiary); */
    border: 1px solid var(--color-primary);
}
/*  */
input[type="file"]::file-selector-button:active,#insertBtn:active,#updateBtn:active{
    transform: scale(0.97);
}
#insertBtn{
    right: 0;
    line-height: 30px;
}
th{
    width: 20%;
}
#showDescImgs img ,#showCoverImg img,#showOthersImgs img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
input[name^="description"]{
    display: block;
    margin: 5px 0;
}
.descriptionInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    width: 50%;
    /* height:50%; */
    /* border: 1px solid #000; */
    box-shadow: 1px 2px 5px #ddd;
    border-radius: 30px;
    overflow: hidden;
    /* display: none; */
    /* height: 100%; */
}

/* i.bi-info-circle-fill:hover .descriptionInfo{
    display: block;
} */
.descriptionInfo img{
    width: 100%;
}
.descriptionInfo p{
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
.bi-x-circle-fill{
    color: var(--color-primary);
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 2rem;
    cursor: pointer;
}
.bi-info-circle-fill{
    cursor: pointer;

}
.info_opacity{
    transition: .3s;
    opacity: 0;
}
 /* 彈出視窗 */
.modal-footer{
    border: none;
}
button,.btn{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color:var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #569682;
    letter-spacing: 1.5px;
    transition: .2s;
}
button:hover,.btn:hover{
    background-color:#a2c5ba;
    color: #fff;
}