:root{
    --color-primary:#90b9ab;
    --color-secondary:#e4b0b4 ;
    /* 狗狗顏色 */
    --color-tertiary:#ffc971 ; 
}
body{
    background: url(../img/00_index/geometry.png);
    font-size: 1.2rem;
}
h2{
    /* height: 80px; */
    /* border: 1px solid #000; */
    color: var(--color-primary);
    
}
.table>:not(caption)>*>* {
    padding: 1rem ;
}
input{
    width: 80%;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    /* --bs-table-accent-bg: #ffc970 ; */
    /* --bs-table-accent-bg: #bfe0d5; */
    /* --bs-table-accent-bg: var(--color-secondary); */
    /* --bs-table-accent-bg:#f1c6ca; */
    --bs-table-accent-bg:#cbe9dd;
}

input[type="file"]::file-selector-button,#insertBtn{
    /* display: inline-block; */
    background-color:var(--color-primary);
    /* background-color:#7d9b92; */
    /* background-color:red; */
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 2px 2px 3px #569682;
    font-weight: normal;
    letter-spacing: 1.5px;
    /* font-family: none; */
    /* font-family: "Playfair Display", serif; */
    font-size: 1rem;
    transition: .2s;

}
input[type="file"]::file-selector-button:hover ,#insertBtn:hover{
    /* background-color:#fff; */
    background-color:#a2c5ba;
    /* color: var(--color-primary); */
    color: #ffffff;
    /* border: 1px solid var(--color-tertiary); */
    border: 1px solid var(--color-primary);
}
/*  */
input[type="file"]::file-selector-button:active,#insertBtn:active{
    transform: scale(0.97);
}
#insertBtn{
    right: 0;
    line-height: 30px;
}
th{
    width: 40%;
}
.bi-search{
    cursor: pointer;
}

.myContainer{
    width: 45%;
}
@media (max-width: 1200px) {
    .myContainer{
        width: 60%;
    }
}
  
@media (max-width: 768px) {
    .myContainer{
        width: 80%;
    }
}
button,.btn{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color:var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    box-shadow: 2px 2px 3px #569682;
    letter-spacing: 1.5px;
    transition: .2s;
}
button:hover,.btn:hover{
    /* background-color:#fff; */
    background-color:#a2c5ba;
    /* color: var(--color-primary); */
    color: #fff;
    /* border: 1px solid var(--color-primary); */
}
button:active{
    transform: scale(0.97);
}
.modal-footer{
    border: none;
}
input{
    padding: 2px 10px;

    /* outline:none; */
    border: 1px solid var(--color-primary);

    outline: 1px solid transparent;
}
input:focus{
    outline: 1px solid var(--color-secondary);
    border: none;
}
input[type="date"]{
    /* letter-spacing: 6px; */
}
.bi-battery,.bi-battery-half,.bi-battery-full{
    /* position: absolute; */
    font-size: 2rem;
    /* color: #bd858a; */
    left: 120%;
    top: 50%;
    transform: translate(0%,-50%);
}
.bi-battery-half{
    animation: loadingA 2s infinite ease-in-out;
}
.bi-battery-full{
    animation: loadingB 2s infinite ease-in-out;
    
}
i.bi-airplane-fill{
    /* display: block; */
    /* width: 100%; */
    /* transform: rotate(90deg); */
}

@keyframes loadingA {
    0%,100%{   display: none;  }
    25%{ display: none; }
    50%{   display: block;  }
}
@keyframes loadingB {
    0%,100%{   display: none;   }
    50%{   display: none;  }
    75%{   display: block;  }
}
